<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.fund.infrastructure.mapper.alert.PriceAlertMapper">

    <select id="findByUserId" parameterType="long" resultType="com.stock.fund.infrastructure.entity.alert.PriceAlertPO">
        SELECT * FROM price_alert WHERE user_id = #{userId} ORDER BY created_at DESC
    </select>

    <select id="findByUserIdAndActive" resultType="com.stock.fund.infrastructure.entity.alert.PriceAlertPO">
        SELECT * FROM price_alert 
        WHERE user_id = #{userId} AND is_active = #{active}
        ORDER BY created_at DESC
    </select>

    <select id="findActiveAlerts" resultType="com.stock.fund.infrastructure.entity.alert.PriceAlertPO">
        SELECT * FROM price_alert WHERE is_active = true ORDER BY created_at DESC
    </select>

</mapper>